.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.pagesWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.page {
  min-width: 28px;
  height: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #4b5563;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  border-radius: 8px;
}

.page:hover:not(.active) {
  color: #111827;
}

.active {
  background: #5e4cf0 !important;
  color: #ffffff !important;
  border-radius: 8px;
  font-weight: 600;
  width: 30px;
  height: 30px;
}

.dots {
  color: #5e4cf0; 
  font-weight: 600;
  padding: 0 4px;
}

.nav {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #d1d5db;
  font-weight: 400;
  padding: 4px;
  transition: all 0.2s;
}

.navText {
  display: inline;
}

.next {
  color: #5e4cf0;
}

.nav:disabled {
  color: #e5e7eb !important;
  cursor: not-allowed;
}

.nav svg {
  stroke-width: 1.5px;
  color: inherit;
}

.nav:hover:not(:disabled) {
  opacity: 0.7;
}

/* ================= MOBILE ================= */

@media (max-width: 774px) {
  .pagination {
    gap: 12px;
    justify-content: center;
    width: 100%;
  }

  .pagesWrapper {
    gap: 8px;
  }

  .navText {
    display: none; /* Hide 'Previous' and 'Next' text on mobile */
  }

  .nav {
    padding: 8px;
  }
}