.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
  padding: 0;
}

.page {
  min-width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #4b5563;
}

/* .page:hover {
  background: #2b4bdb;
} */

.active {
  background: #5b4bdb;
  color: white;
  font-weight: 600;
}

.nav {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  
}