.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.bottom {
  display: flex;
  gap: 20px;
  width: 100%;
}

/* Tablet */
@media (max-width: 1024px) {
  .bottom {
    flex-wrap: wrap;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .bottom {
    flex-direction: column;
  }
}