.wrapper {
  position: relative;
  width: 200px;
}

.selectBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 14px;

  border-radius: 12px;
  border: 1px solid #d1d5db;

  background: white;
  cursor: pointer;

  font-size: 14px;
  color: #6b7280;

  transition: all 0.2s ease;
}

.selectBox:hover {
  border-color: #9ca3af;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icons {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* dropdown arrow */

.icon {
  font-size: 18px;
  transition: transform 0.25s ease;
}

.rotate {
  transform: rotate(180deg);
}

/* clear icon */

.clear {
  font-size: 18px;
  color: #9ca3af;
  cursor: pointer;
}

.clear:hover {
  color: #ef4444;
}

/* dropdown */

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;

  background: white;

  border-radius: 10px;
  border: 1px solid #e5e7eb;

  box-shadow: 0 10px 20px rgba(0,0,0,0.08);

  overflow: hidden;
  z-index: 100;
}

.option {
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
}

.option:hover {
  background: #f3f4f6;
}

.active {
  background: #f0f7ff;
  color: #5b4cf0;
  font-weight: 500;
}